jobs:
  - job: Linux
    pool:
      vmImage: 'Ubuntu 18.04'
    steps:
    - bash: |
        sudo apt-get update
        sudo apt-get install liblttng-ust-dev -y
      displayName: 'Install dependency packages'

    - task: CMake@1
      displayName: 'CMake Configure+Generate'
      inputs:
        workingDirectory: 'LTTng'
        cmakeArgs: '..'

    - task: CMake@1
      displayName: 'CMake Build'
      inputs:
        workingDirectory: 'LTTng/build'
        cmakeArgs: '--build . -- -j2'

    - bash: |
        mkdir testResults
        ./traceloggingTest -o testResults/TEST-TraceLoggingTest.xml -r junit
      workingDirectory: 'LTTng/build/test'
      displayName: 'Run test binary'
      continueOnError: true

    - task: PublishTestResults@2
      displayName: 'Publish test results'
      inputs:
        workingDirectory: 'LTTng/build'
        testResultsFiles: '**/TEST-*.xml'
