jobs:
  - job: Linux
    pool:
      vmImage: 'Ubuntu 16.04'
    steps:
    - bash: |
        sudo apt update
        sudo apt-get install g++-4.8 liblttng-ust-dev -y
      displayName: 'Install dependency packages - test'

    - task: CMake@1
      displayName: 'CMake Configure+Generate'
      inputs:
        cmakeArgs: '-DCMAKE_C_COMPILER=gcc-4.8 -DCMAKE_CXX_COMPILER=g++-4.8 ..'

    - task: CMake@1
      displayName: 'CMake Build'
      inputs:
        cmakeArgs: '--build .'

    - bash: |
        cd build/test
        mkdir testResults
        ./traceloggingTest -o testResults/TEST-TraceLoggingTest.xml -r junit
      displayName: 'Run test binary'
      continueOnError: true

    - task: PublishTestResults@2
      displayName: 'Publish test results'
      inputs:
        testResultsFiles: '**/TEST-*.xml'
